<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button routerLink="/"
				mat-icon-button>
			<mat-icon>arrow_back</mat-icon>
		</button>
		<span>Recetas</span>
	</mat-toolbar-row>
</mat-toolbar>

<form name="frm-login"
	  (ngSubmit)="doRegister()">
	<mat-card class="center-card">
		<mat-card-header>
			<mat-card-title>Registro</mat-card-title>
		</mat-card-header>
		<mat-card-content class="center-card-fields">
			<mat-form-field>
				<mat-label>Nombre de usuario</mat-label>
				<input matInput
					   [(ngModel)]="registerData.name"
					   [disabled]="registerSending"
					   required
					   name="name">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Email</mat-label>
				<input type="email"
					   matInput
					   [(ngModel)]="registerData.email"
					   [disabled]="registerSending"
					   required
					   name="email">
			</mat-form-field>
			@if (registerEmailValidateError) {
			<fieldset class="center-card-error">
				<legend>Error</legend>
				El email introducido no está bien formado.
			</fieldset>
			}
			<mat-form-field>
				<mat-label>Contraseña</mat-label>
				<input matInput
					   type="password"
					   [(ngModel)]="registerData.pass"
					   [disabled]="registerSending"
					   required
					   name="pass">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Confirmar contraseña</mat-label>
				<input matInput
					   type="password"
					   [(ngModel)]="registerData.conf"
					   [disabled]="registerSending"
					   required
					   name="conf">
			</mat-form-field>
			@if (registerPassError) {
			<fieldset *ngIf="registerPassError"
					  class="center-card-error">
				<legend>Error</legend>
				Las contraseñas no coinciden.
			</fieldset>
			}
			@if (registerEmailError) {
			<fieldset *ngIf="registerEmailError"
					  class="center-card-error">
				<legend>Error</legend>
				El email introducido ya está en uso. <a routerLink="/lost-password"
				   class="login-link">¿Olvidaste tu contraseña?</a>
			</fieldset>
			}
			@if (registerNameError) {
			<fieldset *ngIf="registerNameError"
					  class="center-card-error">
				<legend>Error</legend>
				El nombre de usuario ya está en uso.
			</fieldset>
			}
		</mat-card-content>
		<mat-card-actions class="center-card-buttons center-card-buttons-end">
			<button mat-raised-button
					color="primary"
					[disabled]="registerSending"
					type="submit">
				@if (registerSending) {
				<img src="/assets/loading.svg"
					 alt="">
				}
				Continuar
			</button>
		</mat-card-actions>
	</mat-card>
</form>