<div class="modal-container">
	<div class="modal-body-container">
		<div class="modal-body-move">
			<div
				class="modal-body"
				[ngClass]="{'modal-body-opening': mode==='opening', 'modal-body-open': mode==='open', 'modal-body-reset': mode==='reset', 'modal-body-close': mode==='close'}"
				cdkDragBoundary=".modal-body-move"
				cdkDragLockAxis="y" cdkDrag
				(cdkDragEnded)="onDragEnded($event)">
				<div class="modal-header">
					<div class="modal-handle" cdkDragHandle></div>
				</div>
				<div class="modal-content">
					{{mode}}
					<ng-content></ng-content>
				</div>
			</div>
		</div>
	</div>
</div>
