h1 {
	text-align: center;
	margin: 50px 0;
	font-size: 3em;
}

.login-body {
	padding: 32px;
	display: block;
	width: 90%;
	margin: 0 auto;
	border-radius: 8px;
	border: 1px solid #ccc;
	box-sizing: border-box;

	.login-field {
		display: block;
		width: 100%;
		margin: 0 auto;
	}

	.login-error {
		display: flex;
		height: 50px;
		justify-content: center;
		align-items: center;
		color: #f00;

		span {
			transition: all .4s ease-in-out;
			opacity: 0;
		}

		.show-error {
			opacity: 1;
		}
	}

	.login-btn {
		width: 50%;
		height: 55px;
		display: block;
		margin: 0 auto;
	}
}

.login-link {
	display: block;
	font-size: 1.5em;
	text-align: center;
	padding: 30px 0;
	color: #000;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

@media screen and (min-width: 900px) {
	.login-body {
		width: 80%;

		.login-field {
			width: 60%;
		}

		.login-btn {
			width: 30%;
		}
	}
}