h1 {
	text-align: center;
	margin: 50px 0;
	font-size: 3em;
}

.login-body {
	.login-field {
		display: block;
		width: 60%;
		margin: 0 auto;
	}

	.login-error {
		display: flex;
		height: 50px;
		justify-content: center;
		align-items: center;
		color: #f00;

		span {
			transition: all .4s ease-in-out;
			opacity: 0;
		}

		.show-error {
			opacity: 1;
		}
	}

	.login-btn {
		width: 30%;
		height: 55px;
		display: block;
		margin: 0 auto;
	}
}

.login-link {
	display: block;
	font-size: 1.5em;
	text-align: center;
	margin: 30px 0;
	color: #000;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}