<mat-toolbar color="primary">
	<mat-toolbar-row>
		@if (mode === 'watch') {
		<button routerLink="/main"
				mat-icon-button>
			<mat-icon>arrow_back</mat-icon>
		</button>
		}
		<span>Nueva receta</span>
		<span class="flex-space"></span>
		@if (mode === 'add' || mode === 'edit') {
		<button routerLink="/main"
				mat-icon-button>
			<mat-icon>cancel</mat-icon>
		</button>
		}
		@if (mode === 'watch') {
		<button routerLink="/main"
				mat-icon-button>
			<mat-icon>share</mat-icon>
		</button>
		}
		@if (mode === 'add' || mode === 'edit') {
		<button *ngIf="mode === 'add'  || mode === 'edit'"
				routerLink="/main"
				class="right-button"
				mat-icon-button>
			<mat-icon>save</mat-icon>
		</button>
		}
		@if (mode === 'watch') {
		<button routerLink="/main"
				class="right-button"
				mat-icon-button>
			<mat-icon>edit</mat-icon>
		</button>
		}
	</mat-toolbar-row>
</mat-toolbar>

<section>
	<div class="add-photo"><span>Elige foto</span></div>
</section>

<section>
	<header>
		<span>Ingredientes</span>
		<span class="flex-space"></span>
		<button mat-icon-button
				(click)="addIngredient()">
			<mat-icon>playlist_add</mat-icon>
		</button>
	</header>
</section>

<section>
	<header>
		<span>Instrucciones</span>
		<span class="flex-space"></span>
		<button mat-icon-button>
			<mat-icon>playlist_add</mat-icon>
		</button>
	</header>
</section>