section {
	margin: 16px;

	header {
		margin-bottom: 16px;
		border-bottom: 1px solid #ccc;
		padding-bottom: 16px;
		display: flex;
		height: 40px;
		align-items: center;

		span {
			font-size: 2.5em;
		}

		.flex-space {
			flex: 1;
		}

		.see-all {
			
		}
	}

	footer {
		button {
			width: 100%;
		}
	}
}