.pul-icon {
	margin: 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: -3px;
	background-repeat: no-repeat;
	background-size: contain;
}
.pul-icon img,
.pul-icon svg {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	fill: currentColor;
}
.pul-icon svg {
	pointer-events: none;
}
.pul-icon--size-16 {
	width: 16px;
	height: 16px;
}
.pul-icon--size-200 {
	width: 200px;
	height: 200px;
}
.pul-action__icon {
	color: #737373;
}
.pul-button--primary.pul-button--loading .pul-spinner__path {
	stroke: #fff;
	animation: pul-spinner--dash 1.4s ease-in-out infinite;
}
.pul-spinner {
	width: 16px;
	height: 16px;
	animation: pul-spinner--rotate 1.4s linear infinite;
}
.pul-spinner__path {
	stroke-dasharray: 100px, 200px;
	stroke-dashoffset: 0px;
	transform-origin: 50% 50%;
	stroke: #4285f4;
	animation: pul-spinner--dash 1.4s ease-in-out infinite, pul-spinner--color 5.6s linear infinite;
}
@keyframes pul-spinner--rotate {
	to {
		transform: rotate(360deg);
	}
}
@keyframes pul-spinner--dash {
	0% {
		stroke-dasharray: 1px, 200px;
		stroke-dashoffset: 0px;
	}
	50% {
		stroke-dasharray: 100px, 200px;
		stroke-dashoffset: -15px;
	}
	100% {
		stroke-dasharray: 100px, 200px;
		stroke-dashoffset: -120px;
	}
}
@keyframes pul-spinner--color {
	from {
		stroke: #4285f4;
	}
	25% {
		stroke: #de3e35;
	}
	50% {
		stroke: #f7c223;
	}
	75% {
		stroke: #1b9a59;
	}
	to {
		stroke: #4285f4;
	}
}